# Day3: Agenda

- Dictionaries
- Functions
- if-elif-else
- modules
- Deep/nested data structures

## Dictionaries

> Collection of key-value pairs

- Lookup
- Unordered by default (check py version)

In [1]:
items  = ['bread', 'eggs', 'butter', 'biscuits']
costs  = [55.0,    12.55,   125.0,    25.5]

In [6]:
item = 'biscuits'

In [7]:
idx = items.index(item)
costs[idx]

25.5

In [10]:
item_costs = {'bread': 55.0, 'eggs': 12.55, 'butter': 125.0, 'biscuits': 25.5}
sqs = {1:1, 2: 4, 3: 9, 4: 16}
wordsbylength = {2: 'or', 3: 'and', 4: 'else'}

In [9]:
type(item_costs)

dict

In [11]:
item = 'biscuits'
item_costs[item]

25.5

In [12]:
sqs[4]

16

In [13]:
wordsbylength[4]

'else'

In [14]:
item_costs['bread':'butter']

TypeError: unhashable type: 'slice'

In [15]:
item_costs['jam']

KeyError: 'jam'

In [16]:
'abra' in 'abracadabra'

True

In [17]:
1 in [1,2,3]

True

In [18]:
'jam' in item_costs

False

In [19]:
item_costs.keys()

dict_keys(['bread', 'eggs', 'butter', 'biscuits'])

In [20]:
item_costs.values()

dict_values([55.0, 12.55, 125.0, 25.5])

In [21]:
item_costs.items()

dict_items([('bread', 55.0), ('eggs', 12.55), ('butter', 125.0), ('biscuits', 25.5)])

In [22]:
for key in item_costs.keys():
    print(key)

bread
eggs
butter
biscuits

In [23]:
for item, cost in item_costs.items():
    print(item, cost)

bread 55.0
eggs 12.55
butter 125.0
biscuits 25.5

In [24]:
t = (1,2,3)

In [25]:
type(t)

tuple

In [26]:
t[0]

1

In [27]:
t[:2]

(1, 2)

In [28]:
for t in item_costs.items():
    print(t, type(t))

('bread', 55.0) <class 'tuple'>
('eggs', 12.55) <class 'tuple'>
('butter', 125.0) <class 'tuple'>
('biscuits', 25.5) <class 'tuple'>

In [29]:
item_costs['jam'] = 188.5

In [30]:
item_costs

{'bread': 55.0, 'eggs': 12.55, 'butter': 125.0, 'biscuits': 25.5, 'jam': 188.5}

In [32]:
item_costs['butter'] += 5
item_costs

{'bread': 55.0, 'eggs': 12.55, 'butter': 130.0, 'biscuits': 25.5, 'jam': 188.5}

In [33]:
del item_costs['jam']
item_costs

{'bread': 55.0, 'eggs': 12.55, 'butter': 130.0, 'biscuits': 25.5}

In [36]:
item_costs.get('biscuits', 'not found')

25.5

In [38]:
item = 'biscuits'
if item in item_costs:
    print(item_costs[item])
else:
    print(item, 'not present')

25.5

In [39]:
sqs

{1: 1, 2: 4, 3: 9, 4: 16}

In [40]:
cubes = {}
cubes = dict()

for num in range(1,11):
    cubes[num] = num**3
    
cubes

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [42]:
cubes[10]

1000

In [43]:
items  = ['bread', 'eggs', 'butter', 'biscuits']
costs  = [55.0,    12.55,   125.0,    25.5]

In [44]:
item_costs = {}

for item,cost  in zip(items,costs):
    item_costs[item] = cost
    
item_costs

{'bread': 55.0, 'eggs': 12.55, 'butter': 125.0, 'biscuits': 25.5}

In [45]:
dict(zip(items,costs))

{'bread': 55.0, 'eggs': 12.55, 'butter': 125.0, 'biscuits': 25.5}

In [46]:
dict(hello=1, world=2, bye=3)

{'hello': 1, 'world': 2, 'bye': 3}

### Dictionaries : Exercise

- Lookup employee detail given employee name

In [55]:
emps_data = '''
tom 1 tom@abc.com 1121 1234.56
dick 2 dick@abc.com 1222 121212.21
harry 3 hr@abc.com 2222 1111.11
'''

In [61]:
# emps_data.split('\n')
emps_data.strip().splitlines()

['tom 1 tom@abc.com 1121 1234.56',
 'dick 2 dick@abc.com 1222 121212.21',
 'harry 3 hr@abc.com 2222 1111.11']

In [64]:
emp1 = 'tom 1 tom@abc.com 1121 1234.56'.split()
emp1

['tom', '1', 'tom@abc.com', '1121', '1234.56']

In [65]:
emp1.pop(0)

'tom'

In [66]:
emp1

['1', 'tom@abc.com', '1121', '1234.56']

In [58]:
emp_dict = {}
emp_dict[emp1[0]] = emp1[1:]
emp_dict

{'tom': ['1', 'tom@abc.com', '1121', '1234.56']}

In [63]:
# Combined Solution
emp_dict = {}

for emp in emps_data.strip().splitlines():
    emp = emp.split()
    emp_dict[emp[0]] = emp[1:]
    
emp_dict

{'tom': ['1', 'tom@abc.com', '1121', '1234.56'],
 'dick': ['2', 'dick@abc.com', '1222', '121212.21'],
 'harry': ['3', 'hr@abc.com', '2222', '1111.11']}

In [73]:
# Combined Solution
emp_dict = {}

for emp in emps_data.strip().splitlines():
    emp = emp.split()
    first = emp.pop(0)
    emp_dict[first] = emp
    
emp_dict

{'tom': ['1', 'tom@abc.com', '1121', '1234.56'],
 'dick': ['2', 'dick@abc.com', '1222', '121212.21'],
 'harry': ['3', 'hr@abc.com', '2222', '1111.11']}

In [48]:
emp_dict = {}
emp_dict['tom'] = [1, 'tom@abc.com', 1121, 1234.56]

In [49]:
emp_dict

{'tom': [1, 'tom@abc.com', 1121, 1234.56]}

In [54]:
emp_dict['tom'][1]

'tom@abc.com'

In [68]:
nums1 = list(range(10))

In [69]:
nums2 = nums1

In [70]:
nums2.append(10)

In [71]:
nums1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Functions

In [74]:
def sq(num):
    return num**2

In [75]:
sq(10)

100

In [76]:
sq(111)

12321

In [77]:
def process_emps(emps_data):
    emp_dict = {}

    for emp in emps_data.strip().splitlines():
        emp = emp.split()
        emp_dict[emp[0]] = emp[1:]

    return emp_dict

In [79]:
process_emps(emps_data)

{'tom': ['1', 'tom@abc.com', '1121', '1234.56'],
 'dick': ['2', 'dick@abc.com', '1222', '121212.21'],
 'harry': ['3', 'hr@abc.com', '2222', '1111.11']}

In [83]:
def lookup(name, field, empdb):
    if name in empdb:
        if field == 'salary':
        return empdb[name][-1]
    else:
        return 'Not Found'

In [84]:
empdb = process_emps(emps_data)

while True:
    name = input('Enter Emp Name: ')
    if name == 'exit':
        print('Bye')
        break
        
    emp_details = lookup(name, empdb)
    print(name, emp_details)

Enter Emp Name: tom
tom ['1', 'tom@abc.com', '1121', '1234.56']
Enter Emp Name: dick
dick ['2', 'dick@abc.com', '1222', '121212.21']
Enter Emp Name: harry
harry ['3', 'hr@abc.com', '2222', '1111.11']
Enter Emp Name: exit
Bye

In [86]:
# lookup('tom', empdb)[-1]
# lookup('tom', 'salary', empdb)

'1234.56'